body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;

}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

h1 {
    color: #333;
    font-weight: bold;
}

h4 {
    color: #555;
    font-weight: bold;
}

.card-header {
    background-color: #ebebeb;
    font-weight: bold;
    color: #666;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 0;
}

.reporte-item {
    padding: 16px 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.reporte-item:hover {
    background: var(--color-terciario-fondo);
    cursor: pointer;
}

.reporte-item:last-child {
    border-bottom: none;
}

.reporte-item p {
    margin-bottom: 0.5rem;
}

.card-footer {
    background-color: transparent;
}

.btn-warning {
    background-color: #FFDD57;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.btn-warning:hover {
    background-color: #ffc107;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #f8f9fa;
}

footer p {
    margin-bottom: 1rem;
    color: var(--color-secundario);
}

footer .btn {
    margin-top: 1rem;
}



