.errores,
.mensaje-error {
  color: red;
  font-size: 75%;
}

.mensaje-exito {
  color: green;
  font-size: 75%;
}



* {
  font-family: var(--fuente-poppins)
}

contenedor-principal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh
}

.contenedor-form {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

form section {
  margin: 50px 0
}

form .contenedor-botones {
  margin: 50px 0
}


h2 {
  color: var(--color-principal);
}

form input {
  width: 100%;
  background: var(--color-sextario-fondo);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  color: #666;
  font-size: 1rem;
}

input::placeholder {
  color: #999;
}

form select {
  width: 100%;
  background: var(--color-sextario-fondo);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  color: #666;
  font-size: 1rem;
}


label {
  text-align: center;
  color: var(--color-secundario);
}


.contenedor-botones {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center
}

button {
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 20px;
}

.btn-volver {
  background-color: #545454;
  color: white;
  width: 75%;
}

.btn-limpiar,
.btn-agregar {
  background-color: var(--color-terciario-fondo);
  color: black;
  font-weight: bolder;
  width: 25%;
}

@media (max-width: 767.98px) {

  .contenedor-botones {
    flex-direction: column-reverse
  }

  contenedor-botones button {
    width: auto;
  }

  .btn-limpiar,
  .btn-agregar,
  .btn-volver {
    width: 50%;
  }
}


.hover-target {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}