.no-autorizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-secundario-fondo);
    font-family: var(--fuente-poppins);
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icono-advertencia {
    font-size: 3rem;
    color: var(--color-terciario-fondo);
    margin-bottom: 1rem;
}

.no-autorizado h1 {
    color: var(--color-principal);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.no-autorizado p {
    color: var(--color-secundario);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.no-autorizado button {
    background-color: var(--color-terciario-fondo);
    color: var(--color-secundario-fondo);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.no-autorizado button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mensaje-ayuda {
    color: var(--color-secundario);
    font-size: 0.9rem;
    margin-top: 1rem;
    font-style: italic;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}