<div>
    <header>
        <h1>BIENVENIDO, ADMINISTRADOR</h1>
        <p>Seleccione la operación a realizar</p>
    </header>

    <section class="cards-opciones">
        <mat-card class="card">
            <mat-card-header>
                <p>Operarios</p>
            </mat-card-header>
            <mat-card-content class="contenido-cards">
                <!-- <button mat-flat-button routerLink="/agregar-tecnico">Agregar Técnico</button>
                <button mat-flat-button routerLink="/editar-tecnico">Editar Técnico</button>
                <button mat-flat-button routerLink="/agregar-supervisor">Agregar Supervisor</button>
                <button mat-flat-button routerLink="/editar-supervisor">Editar Supervisor</button>
                <button mat-flat-button routerLink="/consultar-supervisor">Consultar Supervisor</button> -->
                <button mat-flat-button routerLink="/registrar-operario">Agregar</button>
                <button mat-flat-button routerLink="/consultar-operario">Consultar</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <p>Unidad Regional</p>
            </mat-card-header>
            <mat-card-content class="contenido-cards">
                <button mat-flat-button routerLink="/agregar-unidad-regional">Agregar</button>
                <button mat-flat-button routerLink="/consultar-unidad-regional">Consultar</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <p>Líneas de Transmisión</p>
            </mat-card-header>
            <mat-card-content class="contenido-cards">
                <button mat-flat-button routerLink="/agregar-linea-transmision">Agregar</button>
                <!-- <button mat-flat-button routerLink="/editar-linea-transmision">Editar</button> -->
                <button mat-flat-button routerLink="/consultar-linea-transmision">Consultar</button>
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <p>Subestación</p>
            </mat-card-header>
            <mat-card-content class="contenido-cards">
                <button mat-flat-button routerLink="/agregar-subestacion">Agregar</button>
                <button mat-flat-button routerLink="/consultar-subestacion">Consultar</button>
            </mat-card-content>
        </mat-card>
    </section>

    <footer>
        <p>Instituto Costarricense de Electricidad</p>
        <button mat-flat-button (click)="abrirCuadroDialogo()">SALIR</button>
    </footer>

</div>